*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: rgb(244, 100, 180);
    margin: 50px auto;
    
}
.box{
    height: 60px;
    width: 60px;
    background-color: rgb(190, 228, 20);
    border: 1px solid black;
    border-radius: 10px;
}